/*
* @Author: Aley
* @Date:   2018-04-15 13:38:01
* @Last Modified by:   Aley
* @Last Modified time: 2018-04-15 16:45:33
*/
.page-header-right{
	position:absolute;
	top:12px;
	right:15px;
}
.m-right-100{
	margin-right:100px;
}
.f-right{
	position:absolute;
	top:26px;
	right:15px;
	margin-right:15px;
}